{% extends "xforum/base.html" %}
{% block form2 %}
{% endblock form2 %}
{% block content %}
    <div class="page_body-container">
        <div class="page-container">
            <div class="content__container">
                <h2 class="webpage__title">About webpage</h2>
                <div class="about_webpage-content">
                    PostX - is a public service where you can make your own posts on different modern topics and share your opinion with other users
                    <br>
                    <br>
                    P.S.
                    <br>
                    This webpage gave me a really hard time with it, but finally it's done and already published. Huge thanks to Hindus from Youtube, your poor English and insane programming skills inspire me to learn programming and language everyday.
                </div>
            </div>
        </div>
    </div>


{% endblock %}
