{% extends "xforum/base.html" %}
{% block form2 %}
{% endblock form2 %}
{% block content %}
    <div class="page_body-container">
        <div class="page-container">
            <div class="content__container">
                <h2 class="webpage__title">Contact us</h2>
                <div class="about_webpage-content">
                    Contact me on <a class="contact__link" href="https://t.me/fraaammmeee17" class="">Telegram</a>
                    <br>
                    <br>
                    Mail me at <span class="contact__link">andrewkorsw@gmail.com</span>
                    <br>
                    <br>
                    My <a class="contact__link" href="https://github.com/AndreKorSw">GitHub</a>

                </div>
            </div>
        </div>
    </div>


{% endblock %}