{% extends "xforum/base.html" %}
{% block form2 %}
{% endblock form2 %}
{% block content %}
    <div class="page_body-container">
        <div class="page-container">
            <div class="content__container">
                <h2 class="webpage__title">For Users</h2>
                <div class="about_webpage-content">

Every coin has two sides, and one day everything can turn upside down. The one who liked you starts to hate you. The one you hit in the face becomes your friend. Well, the one who seemed like an evil tyrant is getting a little smaller.
                </div>
            </div>
        </div>
    </div>


{% endblock %}
